.content {
  text-align: center;
  margin: 160px auto 40px;
}

.description {
  font-size: 30px;
  font-weight: bold;
}

.connectBtn {
color: white;
padding: 10px 30px;
font-size: 1.3em;
background: transparent;
border-radius: 50px ;
border: 1px solid white;
margin: 10px auto 0;
cursor: pointer;
opacity: 0.7;
font-family: 'Tahoma', cursive;
font-weight: bold;
}

.nav {
border-bottom: 1px solid #fff;

}

.h1 {
margin-bottom: 0;
text-align: left;
}

.navFlex {
border-bottom: 1px solid #fff;
display: flex;
align-items: center;
justify-content: space-between;
place-items: flex-end;
}

.nav .p {
margin: 3px 0;
}

.connectedWallet {
margin: 70px auto 40px;
text-align: center;
}

.walletAddress {
border: 1px solid #fff;
padding: 2px 15px;
border-radius: 50px;
}

.footer {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}